@using Microsoft.AspNetCore.SignalR.Client;
@using BlackJackClient.Components
@using BlackJackClient.Services
@using BlackJackClient.Models
@page "/play-game/{GameId}/{PlayerName}"
<h3>Game: @GameId</h3>

<GameBoard gameState="gameState" playerName="playerName" 
           onPlayerMove="MakeMove" />

@code {
    [Parameter]
    public string GameId { get; set; }

    [Parameter]
    public string playerName { get; set; }

    private GameState gameState;

    [Inject]
    private GameClient GameClient { get; set; }

    protected override async Task OnInitializedAsync()
    {
        GameClient.OnGameStateUpdated += (state) => InvokeAsync(() =>
        {
            gameState = state;
            StateHasChanged();
        });
        if (GameClient._hubConnection.State == HubConnectionState.Disconnected) await GameClient.ConnectAsync();
        await GameClient.JoinGame(GameId, playerName);
    }

    private async Task MakeMove(string action)
    {
        await GameClient.MakeMove(GameId, playerName, action);
    }
}
